.header_bottom-right--content .header_bottom-right-text,
.header_bottom-left p{
    font-weight: unset;
}
/* body */
.body {
    background-color: rgb(250, 250, 250);
    padding: 20px 0;
}
.body1 {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    padding: 60px 100px;
}
/* body_title */
.body_title {
    text-align: center;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #ccc;
}
.body_title h2 {
    font-size: 48px;
    padding: 0 0 15px 0;
    color: #353535;
    font-weight: 300;
    line-height: 60px;
    font-family: "Roboto", sans-serif, arial;
}
.body_title-text {
    padding: 0 200px;
}
.body_title-text p {
    line-height: 22px;
    padding-bottom: 10px;
    color: #8a827c;
    font-size: 16px;
}
.body_title-text p a {
    color: #ec1d24;
    text-decoration: none;
}
.body_title-text p a:hover {
    color: #ec1d24;
    text-decoration: underline;
}
/* body_left */
.body_left {
    margin-top: 30px;
}
.body_left-address {
    padding: 0 0 20px 0;
}
.body_left-address h4{
    color: #6f6f6f;
    font-size: 14px;
    line-height: 24px;
}
.body_left-address p{
    color: #6f6f6f;
    line-height: 24px;
    font-size: 15px;
}
.google-map {
    width: 100%;
    height: 388px;
}
/* body_right */
.body_right {
    margin-top: 30px;
    text-align: center;
}
.body_right input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 16px 5px 24px;
    margin: 0 0 20px 0;
    background-color: #fff;
    border: solid 2px #ebebeb;
    box-shadow: 0 0 0 rgb(0 0 0 / 40%);
    transition: 0.2s;
}
.body_right textarea {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 16px 10px 24px;
    margin: 0 0 20px 0;
    background-color: #fff;
    border: solid 2px #ebebeb;
    box-shadow: 0 0 0 rgb(0 0 0 / 40%);
    resize: none;
    transition: 0.2s;
}
.body_right textarea:focus,
.body_right input:focus {
    box-shadow: 0 0 0 rgb(0 0 0 / 40%);
    border: solid 2px #ec1d24;
    outline: none;
}
.btn-width {
    width: 100%;
    font-weight: 600;
}