/* slider */
.slider_location {
    justify-content: center;
}
.slider_item {
    text-align: center;
    position: relative;
    padding-top: 30px;
    transition: 0.6s;
}
.slider_item:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.slider_item-img {
    width: 100%;
    height: 120px;
}
.slider_item-img img {
    width: 60%;
    object-fit: contain;
}
.slider_item .slider_item-title {
    text-decoration: none;
    color: #2b2b2b;
    font-family: sans-serif, arial;
    letter-spacing: 0.5px;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 10px;
}
.slider_select {
    padding-bottom: 5px;
    border-bottom: 2px solid #ec1d24;
}
.slider_select .slider_item-title{
    color: #ec1d24;
}
.slider_item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* slider_banner */
.slider_banner {
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.7s ease 0s;
    width: 100%;
    position: relative;
}
.slider_banner img {
    width: 100%;
    display: flex;
    object-fit: contain;
}
.slider_camara {
    background-image: url(https://vn.canon/media/image/2021/05/19/dd80e6ceff4a4acebad745b698e1e63b_Photography.png);
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider_printer {
    background-image: url(https://vn.canon/media/image/2018/07/12/cf89153a64284207b9f79c11b5784fe2_Full-4515.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider_scanner {
    background-image: url(https://vn.canon/media/init/background/Scanning.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider_video {
    background-image: url(https://vn.canon/media/init/background/Videography.jpg);
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider_projector {
    background-image: url(https://vn.canon/media/image/2021/05/19/2366aaf82eda484b87bef1cf09fc21ef_Presentation.png);
    width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider_overplay {
    background: #000;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.slider_container {
    position: relative;
    z-index: 2;
    padding: 140px 0;
}
.slider_container__location {
    justify-content: space-around;
    align-items: center;
}
.slider_container-title h2{
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    font-family: "Roboto", sans-serif, arial;
    margin-bottom: 10px;
}
.slider_container-title h4{ 
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 600;
    font-family: "Roboto", sans-serif, arial;
    margin-bottom: 40px;
    /* padding-right: 60px; */
}
.slider_container-img {
    text-align: center;
}
.slider_container-img img{
    object-fit: contain;
    width: 100%;
}
.btn_location {
    margin-top: 15px;
}
/* body */
#body {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: rgb(250, 250, 250);
}
.body_location {
    justify-content: space-around;
}
/* body left */
.body_left {
    /* background-color: aquamarine; */
    height: 100%;
}
/* sort */
.body_left__sort {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    border-radius: 10px;
}
.body_left__sort-item {
    width: 90%;
    margin: 0 auto;
}
.body_left__sort h6 {
    color: #3a3a3a;
    font-weight: 600;
    font-size: 16px;
    font-family: arial;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}
.custom-select {
    position: relative;
    font-family: Arial;
    width: 100%;
    color: #000;
    padding: 6px 0px;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
}
.custom-select select {
    display: none;
    padding: 0;
}
.select-selected {
    /* background-color: #fff; */
}
.custom-select i {
    position: absolute;
    top: 16px;
    right: 14px;
    font-size: 10px;
}
.select-selected {
    color: #000;
    padding: 6px 20px;
    cursor: pointer;
    user-select: none;
}
.select-items div {
    padding: 8px 14px;
    cursor: pointer;
    user-select: none;
}
.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    height: 220px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: #ec1d24;
    color: #fff;
}
/* filter */
.body_left__filter {
    margin: 30px auto 0 auto;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    border-radius: 10px;
}
.body_left__filter-item {
    width: 90%;
    margin: 0 auto;
}
.body_left__filter h6 {
    color: #3a3a3a;
    font-weight: 600;
    font-size: 16px;
    font-family: arial;
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}
.body_left__filter-item .popular{
    margin-bottom: 10px;
}
.body_left__filter-item .popular > div{
    display: flex;
    align-items: center;
    height: 30px;
}
.body_left__filter-item .popular p{
    font-size: 14px;
    color: #353535;
    line-height: 24px;
    padding-bottom: 6px;
}
.body_left__filter-item .popular input[type=checkbox]{
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.body_left__filter-item .popular label{
    align-items: center;
    font-size: 14px;
    padding-left: 10px;
    line-height: 26px;
    color: #555555;
    cursor: pointer;
}
/* body right */
.body_right {
    height: 100%;
}
.body_right_location {
    justify-content: space-around;
}
.body_right-item {
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
    margin: 0 24px 40px 24px;
    position: relative;
}
.body_right-item--img {
    width: 100%;
    text-align: center;
}
.body_right-item--img img {
    width: 80%;
    object-fit: contain;
}
.status {
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #ec1d24;
    padding: 6px 16px;
    position: absolute;
    border-radius: 20px;
    top: 10px;
    right: 12px;
}
.level {
    font-size: 10px;
    font-weight: 500;
    color: rgb(78, 78, 78);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 16px;
    position: absolute;
    border-radius: 20px;
    top: 10px;
    left: 12px;
}
.body_right-item .body_right-item--title {
    padding-top: 10px;
    padding-bottom: 10px;
}
.body_right-item .body_right-item--title a {
    text-decoration: none;
}
.body_right-item .body_right-item--title h2 {
    font-size: 16px;
    font-weight: 100;
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-height: 26px;
    /* height: 52px; */
}
.body_right-item .body_right-item--title h2:hover {
    color: #ec1d24;
}
.body_right-item .body_right-item--title .scroll_video-accessory,
.body_right-item .body_right-item--title .scroll_videography,
.body_right-item .body_right-item--title .scroll_videography-eos,
.body_right-item .body_right-item--title .scroll_lens-camera,
.body_right-item .body_right-item--title .scroll_travel-camera {
    padding: 0px 0px 0px 18px;
    margin-top: 20px;
    height: 220px;
    overflow-y: auto;
}
.scroll_video-accessory ul,
.scroll_videography ul,
.scroll_videography-eos ul,
.scroll_lens-camera ul,
.scroll_travel-camera ul  {
    min-height: 220px;
}
.body_right-item .body_right-item--title .scroll_laser,
.body_right-item .body_right-item--title .scroll_projector,
.body_right-item .body_right-item--title .scroll_lens-ef,
.body_right-item .body_right-item--title .scroll_lens-eos,
.body_right-item .body_right-item--title .scroll_lens {
    padding: 0px 0px 0px 18px;
    height: 150px;
    overflow-y: auto;
}
.scroll_laser ul,
.scroll_projector ul,
.scroll_lens-ef ul,
.scroll_lens-eos ul,
.scroll_lens ul {
    min-height: 150px;
}
.body_right-item .body_right-item--title .scroll_accessory {
    padding: 0px 0px 0px 18px;
    margin-top: 20px;
    height: 100px;
    overflow-y: auto;
}
.scroll_accessory ul {
    min-height: 100px;
}
.scroll::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;


}
.body_right-item .body_right-item--title .scroll_document,
.body_right-item .body_right-item--title .scroll_glass-film,
.body_right-item .body_right-item--title .scroll_glass,
.body_right-item .body_right-item--title .scroll_fax, 
.body_right-item .body_right-item--title .scroll_mobile-printers,
.body_right-item .body_right-item--title .scroll_laser-printer,
.body_right-item .body_right-item--title .scroll_inkjet {
    padding: 0px 0px 0px 18px;
    margin-top: 20px;
    height: 170px;
    overflow-y: auto;
}
.scroll_document ul,
.scroll_glass-film ul,
.scroll_glass ul,
.scroll_fax ul,
.scroll_mobile-printers ul,
.scroll_laser-printer ul,
.scroll_inkjet ul {
    min-height: 170px;
}



.scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 50px;
}
.body_right-item .body_right-item--title li {
    font-size: 14px;
    color: #6f6f6f;
    line-height: 24px;
}
.body_right-item--pirce {
    text-align: center;
    height: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.body_right-item--pirce h4 {
    font-size: 16px;
    font-weight: 100;
    color: #6f6f6f;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}

/* Reponsive */
/* Mobile - Tablet */
@media (max-width: 1023.2px) {
    /* body */
    .body_location {
        justify-content: unset;
    }
    .body_tablet {
        margin-bottom: 26px;
        justify-content: flex-start !important;
    }
    .tablet_sort,
    .tablet_filter {
        display: inline-block;
    }
    .btn_color {
        text-decoration: none;
        background-color: transparent;
        color: #000;
        border: 2px solid #bbc0d4;
        padding: 10px 36px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 20px;
        cursor: pointer;
    }
    .filter_checkbox,
    .sort_checkbox {
        display: none;
    }
    .filter_checkbox:checked ~ .side_bar-filter,
    .sort_checkbox:checked ~ .side_bar-sort {
        display: block;
    }
    @keyframes openFeature {
        from {
            opacity: 0;
            /* transform: scaleX(0); */
            left: 0;
        }
        to {
            opacity: 1;
            transform: scaleX(50);
        }
    }
    /* side_bar-sort */
    .side_bar-filter,
    .side_bar-sort {
        background-color: #fff;
        width: 100%;
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        height: 100%;
        padding: 0 34px 0 30px;
        animation: openFeature 0.2s ease;
    }
    .side_bar-filter-title,
    .side_bar-sort-title {
        display: flex;
        justify-content: space-between;
        padding: 0 0 10px 0;
    }
    .side_bar-filter h6,
    .side_bar-sort h6 {
        color: #3a3a3a;
        font-weight: 600;
        font-size: 18px;
        font-family: arial;
        padding-bottom: 0px;
        padding-top: 0px;
        letter-spacing: 0.5px;
        align-items: center;
        display: flex;
    }
    .side_bar-filter .icon_close,
    .side_bar-sort .icon_close {
        justify-content: end;
        font-weight: 600;
        font-size: 16px;
        padding: 20px 0 20px 20px;
    }
    .custom-select {
        border-radius: 20px;
    }
    .select-items {
        height: 215px;
        overflow-y: scroll;
        border-radius: 0px;
        top: 38px
    }
    .select-selected {
        font-size: 16px;
        padding: 8px 20px;
    }
    .custom-select i {
        position: absolute;
        top: 18px;
        right: 18px;
        font-size: 10px;
    }
    /* side_bar-filter */
    .popular{
        margin-bottom: 10px;
    }
    .popular > div{
        display: flex;
        align-items: center;
        height: 30px;
    }
    .popular p{
        font-size: 16px;
        color: #353535;
        line-height: 24px;
        padding-bottom: 6px;
    }
    .popular input[type=checkbox]{
        width: 22px;
        height: 22px;
        border: 1px solid #ccc;
        cursor: pointer;
    }
    .popular label{
        align-items: center;
        font-size: 14px;
        padding-left: 10px;
        line-height: 26px;
        color: #555555;
        cursor: pointer;
    }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023.2px) {
    /* slider */
    .slider_item {
        text-align: center;
        position: relative;
        padding-top: 10px;
        transition: 0.6s;
    }
    .slider_select {
        padding-bottom: 2px;
        border-bottom: 2px solid #ec1d24;
    }
    .slider_item-img {
        width: 100%;
        height: 70px;
    }
    .slider_item .slider_item-title {
        font-size: 12px;
        padding-bottom: 6px;
    }
    .slider_container-title h4 {
        line-height: 20px;
    }
    /* body */
    .body_location {
        justify-content: unset;
    }
    /* body_top (left) */
    .body_tablet {
        margin-bottom: 26px;
        justify-content: flex-start !important;
    }
    .tablet_sort,
    .tablet_filter {
        display: inline-block;
    }
    .btn_color {
        text-decoration: none;
        background-color: transparent;
        color: #000;
        border: 2px solid #bbc0d4;
        padding: 10px 36px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 20px;
        cursor: pointer;
    }
    
    /* body_bottom (right) */
    .body_right_location {
        justify-content: space-between;
    }
    .body_right-item {
        margin: 0 0px 40px 0px;
    }
    .body_right-item .body_right-item--title h2 {
        font-size: 18px;
        font-family: sans-serif;
    }
}
/* Mobile */
@media (max-width: 739px) {
    /* slider */
    .slider_item {
        text-align: center;
        position: relative;
        padding-top: 10px;
        transition: 0.6s;
    }
    .slider_select {
        padding-bottom: 2px;
        border-bottom: 2px solid #ec1d24;
    }
    .slider_container {
        position: relative;
        z-index: 2;
        padding: 80px 0;
    }
    .slider_item-img {
        width: 100%;
        max-height: 100px;
        height: 60px;
    }
    .slider_item .slider_item-title {
        font-size: 12px;
        padding-bottom: 6px;
    }
    .slider_container-title h2 {
        color: #fff;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        font-family: "Roboto", sans-serif, arial;
        margin-bottom: 10px;
    }
    .slider_container-title h4 {
        line-height: 20px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    /* body */
    .body_location {
        justify-content: unset;
    }
    /* body_top (left) */
    .body_tablet {
        margin-bottom: 20px;
        justify-content: flex-start !important;
    }
    .tablet_sort,
    .tablet_filter {
        display: inline-block;
    }
    .btn_color {
        text-decoration: none;
        background-color: transparent;
        color: #000;
        border: 2px solid #bbc0d4;
        padding: 10px 24px;
        font-size: 12px;
        font-weight: 600;
        border-radius: 20px;
        cursor: pointer;
    }
    

    /* body_bottom (right) */
    .body_right_location {
        justify-content: space-around;
    }
    .body_right-item {
        margin: 0 10px 40px 10px;
    }
    .body_right-item .body_right-item--title h2 {
        font-size: 12px;
        font-family: sans-serif;
    }
}
@media (min-width: 600px) and (max-width: 739px) {
    .slider_item-img {
        width: 100%;
        height: 100px;
    }
}
@media (min-width: 500px) and (max-width: 600px) {
    .slider_item-img {
        width: 100%;
        height: 80px;
    }
}