:root {
    --height-header: 120px;
    --height-header-top: 80px;
    --height-header-bottom: calc(var(--height-header) - var(--height-header-top));
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    width: 100%;
    height: var(--height-header);
    /* background-color: aquamarine; */
}
.header_top {
    width: 100%;
    height: var(--height-header-top);
    background-color: #fff;
}
.header_top__location {
    /* align-items: center; */
}
.header_logo {
    height: 80px;
    position: relative;
}
.header_logo a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header_logo img {
    max-width: 100%;
    height: 80px;
    object-fit: contain;
}
.header_center {
    line-height: 80px;
}
.header_center-content {
    justify-content: center;
}
.header_center-content--text a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.header_center-content--text a:hover {
    background-color: #ec1d24;
    color: #fff;
}
.header_center-content--select a {
    color: #ca0000;
}
/* search */
.header_right {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.header_right-search {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}
.header_right-search  input{
    width: 100%;
    height: 100%;
    padding: 1px 60px 1px 10px;
    font-size: 14px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 4px;
    transition: 0.2s;

}
.header_right-search  input:focus {
    background-color: #fff;
    box-shadow: 0  0 5px #9e9e9e;
    outline: none;
}
.header_right-search i {
    align-items: center;
    padding: 0 16px 0 16px;
    font-weight: 600;
    font-size: 18px;
    border-left: 1px solid #ccc;
    cursor: pointer;
    position: absolute;
    right: 0px;
}
.header_right-search i:hover {
    opacity: 0.8;
}
/* cart */
.header_right-cart {
    text-align: center;
}
.header_right-cart i {
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
}
/* header-bottom */
.header_bottom {
    width: 100%;
    height: var(--height-header-bottom);
    background-color: #353535;
}
.header_bottom-right {
    text-align: center;
}
.header_bottom-left {
    display: block;
}
.header_bottom-left p{
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 40px;
    font-family: sans-serif;
    font-weight: 300;
    padding-left: 12px;
    display: inline-block;
}
.header_bottom-left-slogan {
    padding: 0 !important;
}
.typed-cursor {
    color: #fff;
}
.header_bottom-right--content {
    display: flex;
}
.header_bottom-right--content .header_bottom-right-icon i {
    color: #fff;
    padding: 0 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
.header_bottom-right--content .header_bottom-right-text {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.header_bottom-right--content:hover {
    background-color: #dadada;
}
.header_bottom-right--content:hover .header_bottom-right-text {
    color: #000;
}
.header_bottom-right--content:hover .header_bottom-right-icon i{
    color: #000;
}

/* footer */
#footer {
    padding-bottom: 20px;
    padding-top: 50px;
    border-top: 1px solid #ececec;
}
.footer {
    background-color: #fff;
}
.footer_location {
    justify-content: space-around;
    width: 100%;
    margin: 0;
}
.footer_content h3 {
    font-size: 16px;
    color: #999;
}
.footer_content-content ul{
    list-style: none;
}
.footer_content-content ul li a {
    text-decoration: none;
    color: #353535;
    font-size: 16px;
    display: block;
    padding: 6px 0;
}
.footer_content-content ul li a:hover {
    color: #ec1d24;
}
.footer_content-society {
    color: #333;
    font-weight: 700;
    padding: 0;
    text-decoration: none;
}
.footer_content .society {
    display: inline-block;
    padding: 6px;
    color: #000;
}
.footer_content .society i{
    font-size: 20px;
}

/* btn */
.btn {
    text-decoration: none;
    background-color: #ec1d24;
    color: #fff;
    border: none;
    padding: 14px 56px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}
.btn_more {
    background-color: #fff;
    color: #ec1d24;
    border: 2px solid #eeeeee;
    padding: 16px 50px;
    font-size: 12px;
    font-weight: 600;
    transition: 0.4s;
}
.btn_more i {
    font-size: 12px;
    font-weight: bolder;
    padding: 0 6px;
}
.btn:hover {
    opacity: 0.95;
}
.btn_more:hover {
    border: 2px solid #ec1d24;
}

/* Reponsive */
/* Mobile - Tablet */
@media (max-width: 1023px) {
    
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .header_top__location {
        align-items: center;
    }
    .header_center-content--text a{
        font-size: 11px;
        text-decoration: none;
        color: #000;
        display: block;
        text-align: center;
        font-family: sans-serif;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .header_center-content--select a {
        color: #ca0000;
    }
    .header_right {
        margin-left: 10px;
    }
    .header_right-search {
        width: 100%;
        height: 34px;
    }
    .header_right-search  input{
        padding: 1px 44px 1px 10px;
        font-size: 12px;
    }
    .header_right-search i {
        font-size: 12px;
        padding: 4px 12px 4px 12px;
        font-weight: 500;
    }
    .header_right-cart i {
        font-size: 14px;
    }
    /* header_bottoom */
    .header_bottom-left p{
        font-size: 10px;
    }
    .header_bottom-right--content .header_bottom-right-icon i {
        color: #fff;
        font-size: 10px;
        padding: 0 8px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        line-height: 40px;
    }
    .header_bottom-right--content .header_bottom-right-text {
        font-size: 10px;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        font-family: sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;
    }
    /* Footer */
    #footer {
        padding-bottom: 20px;
        padding-top: 20px;
        border-top: 1px solid #ececec;
    }
    .footer_content h3 {
        font-size: 14px;
    }
    .footer_content-content ul li a {
        text-decoration: none;
        color: #353535;
        font-size: 12px;
        display: block;
        padding: 6px 0;
    }
    .footer_content .society i{
        font-size: 12px;
    }
    .footer_return-icon {
        border: 1px solid #999;
        padding: 12px 18px 12px 18px;
        border-radius: 50px;
    }
    /* btn */
    .btn {
        text-decoration: none;
        background-color: #ec1d24;
        color: #fff;
        border: none;
        padding: 10px 36px;
        font-size: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
    .btn_more {
        background-color: #fff;
        color: #ec1d24;
        border: 2px solid #eeeeee;
        padding: 10px 30px;
        font-size: 10px;
        font-weight: 600;
        transition: 0.4s;
    }
    .btn_more i {
        font-size: 10px;
        font-weight: bolder;
        padding: 0 6px;
    }
}
/* Mobile */
@media (max-width: 739px) {
    .header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
        -webkit-transition: all 0.2s ease-in-out;
    }
    /* Header top */
    .header_top__location {
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .header_mobile-cart i,
    .header_mobile-bar i{
        font-size: 20px;
        display: block;
        padding: 20px 0;
    }
    .mobile_bar-checkbox {
        display: none;
    }
    /* Header bottom */
    .header_bottom {
        width: 100%;
    }
    .header_bottom-left p {
        font-size: 10px;
    }
    .mobile_bar-checkbox:checked ~ .header_side-bar {
        display: unset;
    }
    @keyframes openSideBar {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    /* Header side bar */
    .header_side-bar {
        background-color: #fff;
        width: 100%;
        display: none;
        position: fixed;
        top: var(--height-header-top);
        z-index: 99;
        height: 100%;
        padding: 0 34px 0 30px;
        animation: openSideBar linear 0.2s;
        will-change: opacity;
    }
    /* search */
    .header_side-bar-search {
        width: 100%;
        height: 50px;
        background-color: #fff;
        display: flex;
        align-items: center;
        position: relative;
        border-top: 1px solid rgb(240,240,240);
        border-bottom: 0.5px solid rgb(240,240,240);
    }
    .header_side-bar-search  input{
        width: 100%;
        height: 100%;
        padding: 1px 10px 1px 48px;
        font-size: 14px;
        background-color: #fff;
        border: none;
    }
    .header_side-bar-search  input:focus {
        background-color: #fff;
        outline: none;
    }
    .lb_mobile_bar-search {
        position: absolute;
        left: 0px;
    }
    .header_side-bar-search i {
        align-items: center;
        padding: 5px 10px 5px 10px;
        font-weight: 600;
        font-size: 15px;
        border-right: 1px solid #ccc;
    }
    .header_side-bar-search i:hover {
        opacity: 0.8;
    }
    /*  */
    .header_side-bar ul {
        list-style: none;
    }
    .header_side-bar ul li {
        /* padding: 0 30px; */
    }
    .header_side-bar ul li a {
        text-decoration: none;
        text-align: left;
        display: block;
        padding: 0 0;
        line-height: 50px;
        font-size: 14px;
        color: #6f6f6f;
        border-top: 1px solid rgb(245,245,245);
        border-bottom: 0.5px solid rgb(245,245,245);
    }
    /* footer */
    .none {
        display: none;
    }
    #footer {
        padding-bottom: 20px;
        padding-top: 0px;
        border-top: 1px solid #ececec;
    }
    .footer {
        /* padding: 0 20px; */
    }
    .footer_return {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer_return-icon {
        border: 1px solid #999;
        padding: 8px 14px 8px 14px;
        border-radius: 40px;
        background-color: #fff;
    }
    .footer_return-icon i {
        font-size: 24px;
        color: #6f6f6f;
    }
    .footer_content h3 {
        font-size: 15px;
        line-height: 50px;
        display: block;
        padding: 0 20px;
        color: #6f6f6f;
        font-weight: 300;
        border-top: 1px solid rgb(245,245,245);
        border-bottom: 0.5px solid rgb(245,245,245);
    }
    .footer_content input[type = checkbox] {
        display: none;
    }
    .checkbox_company:checked ~ .footer_content-content,
    .checkbox_products:checked ~ .footer_content-content,
    .checkbox_services:checked ~ .footer_content-content,
    .checkbox_support:checked ~ .footer_content-content {
        display: block;
    }
    @keyframes openFooterContent {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .footer_content-content {
        background-color: #353535;
        display: none;
        animation: openFooterContent linear 0.5s;
    }
    .footer_content-content ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        display: block;
        line-height: 50px;
        padding: 0px 20px;
        border-top: 1px solid rgb(245,245,245);
        border-bottom: 0.5px solid rgb(245,245,245);
    }
    .footer_content-society {
        color: #333;
        font-weight: 700;
        padding: 0;
        text-decoration: none;
        text-align: center;
        border-top: 1px solid rgb(245,245,245);
    }
    .footer_content-society h3 {
        display: inline-block;
        color: #353535;
        padding: 0 0 0 5px;
    }
    .footer_society {
        text-align: center;
    }
    /* btn */
    .btn {
        text-decoration: none;
        background-color: #ec1d24;
        color: #fff;
        border: none;
        padding: 10px 36px;
        font-size: 10px;
        border-radius: 20px;
        cursor: pointer;
    }
    .btn_more {
        background-color: #fff;
        color: #ec1d24;
        border: 2px solid #eeeeee;
        padding: 10px 30px;
        font-size: 10px;
        font-weight: 600;
        transition: 0.4s;
    }
    .btn_more i {
        font-size: 10px;
        font-weight: bolder;
        padding: 0 6px;
    }
}